:root {
  --bg-color: #121212;
  --text-primary: #fff;
  --text-black: #000;
  --text-secondary: #8b8b8b;
  --color-primary: #fcc018;
  --color-secondary: #323232;
  --color-border: #5a5a5a;
  --color-tras: rgba(255, 255, 255, 0.1);
}
