#event_date {
  color: var(--color-primary);
}
.event_sec {
  background-image: url("Images/overlay-center.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
}

#event_poster {
  width: 200px;
  border-radius: 18px;
}
#register_pop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.event-info {
  background-color: var(--color-trans);
  backdrop-filter: blur(10px);
  border-radius: 18px;
}
