@font-face {
  font-family: "Gilroy";
  src: url("https://github.com/theajmalrazaq/mlsacfd/raw/main/fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: LemonMilk;
  src: url("https://github.com/theajmalrazaq/mlsacfd/raw/main/fonts/Lemon%20Milk%20Pro%20Medium.otf");
}
