@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "LemonMilk";
  src: url("../fonts/Lemon%20Milk%20Pro%20Medium.otf") format("opentype");
}
