.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100vh;
  padding: 20px;
 
  &__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &_wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__logo{
        width: 100%;
        height: 230px;
      }
      &__wave{
        width: 100%;
        height: 13px;
        margin-top: 10px;
      }
    }
  }

}

.home_btnscon {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.home_btnscon button:nth-child(1) {
  padding: 10px 20px;
  border-radius: 99px;
  background-color: var(--color-primary);
  color: var(--text-black);
  font-size: 14px;
  font-weight: 600;
  border:none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home_btnscon button:nth-child(2) {
  padding: 10px 20px;
  border-radius: 99px;
  background-color: var(--color-secondary);
  color: var(--text-white);
  font-size: 14px;
  font-weight: 600;
  border:none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home_btnscon button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.header_nav {
  margin-top: 30px;
  background-color: var(--color-tras);
  padding: 20px;
  border-radius: 99px;
  border: 1px solid var(--color-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.overlay {
  position: fixed;
  top: 0px;
  height: 300px;
}

.cfd {
  position: absolute;
  bottom: 50px;
  max-width: 100%;
  height: 300px;
}

.social{
  position: absolute;
  display: flex;
  right: 50px;
 flex-direction: column;
 gap: 20px;
 background-color: var(--color-tras);
 padding: 30px 15px;
 border-radius: 99px;
 border: 2px solid var(--color-border);
 &_icon{
   height: 24px;
 }
}