@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.woff2");
}
@font-face {
  font-family: "LemonMilk";
  src: url("fonts/Lemon\ Milk\ Pro\ Regular.woff2");
}
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format("woff2");
}
:root {
  --bg-color: #000;
  --text-primary: #fff;
  --text-black: #000;
  --text-secondary: #8b8b8b;
  --color-primary: #fcc018;
  --color-secondary: #323232;
  --color-border: #5a5a5a;
  --color-trans: rgba(255, 255, 255, 0.1);
  --bulma-body-background-color: var(--bg-color);
  --bulma-block-spacing: 0px;
  --font-bold: "Gilroy";
  --font-pri: "LemonMilk";
  --font-txt: Product Sans;
  --bulma-mt-6: 90px;
}
