@use "fonts" as *;
:root {
  --bg-color: #000;
  --text-primary: #fff;
  --text-black: #000;
  --text-secondary: #8b8b8b;
  --color-primary: #fcc018;
  --color-secondary: #323232;
  --color-border: #5a5a5a;
  --color-tras: rgba(255, 255, 255, 0.1);
  --bulma-body-background-color: var(--bg-color);
  --bulma-block-spacing: 0px;
  --font-bold: "Gilroy";
  --font-pri: lemonMilk;
  --font-pri-rg: lemonMilk-Reg;
  --bluma-mt-6: 90px;
}
